@import '../styles/variables.scss';

footer {
    background-color: $primaryBlack;

    .footer-container {
        display: flex;
        justify-content: space-between;
        max-width: 1240px;
        margin: auto;
        padding-top: 5dvh;

        .footer-logo {
            color: $white;
        }

        .footer-copyright {
            color: $white;
        }

        i {
            color: $white;
            margin-right: 2dvh;
            transition: color .8s;
        }

        i:hover {
            color: $green;
        }
    }
}