@import '../styles/variables.scss';

@keyframes scaleUp {
    from {
        transform: translateY(8px);
    }
    to {
        transform: translateY(-8px);
    }
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: $primaryBlack;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 3dvh;

    .logo {
        color: $white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 5dvh;
        list-style-type: none;

        .nav-link {
            color: $white;
        }

        a {
            transition: color .8s;
        }

        a:hover {
            color: $green;
        }
    }

    .nav-social-media i {
        color: $white;
        transition: color .8s;
        margin-right: 2dvh;
        transition: animation .8s;
    }

    i:hover {
        color: $green;
        animation: scaleUp 1s infinite linear;
    }
}