@import '../styles/variables.scss';

@keyframes scaleUp {
    from {
        transform: translateY(8px);
    }
    to {
        transform: translateY(-8px);
    }
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: $primaryBlack;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    padding: 3dvh;

    .logo {
        color: $white;
    }

    .nav-list {
        display: flex;
        flex-direction: row;
        gap: 5dvh;
        list-style-type: none;

        .nav-link {
            color: $white;
        }

        a {
            transition: color .8s;
        }

        a:hover {
            color: $green;
        }
    }

    .nav-social-media i {
        color: $white;
        transition: color .8s;
        margin-right: 2dvh;
        transition: animation .8s;
    }

    i:hover {
        color: $green;
        animation: scaleUp 1s infinite linear;
    }

    #mobile_btn {
        display: none;
        background-color: transparent;
        color: $white;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
    }
}

#mobile_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: absolute;
    top: 5rem;
    width: 100%;
    padding: 1rem;
    z-index: 33;

    &.active {
        display: flex;
    }

    #mobile_nav_list {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style-type: none;
        text-align: center;
    }

    .nav_item {
        font-size: 1rem;
        
        a {
            text-decoration: none;
            color: $text;
        }
    }
}