@import '../styles/variables.scss';


@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#carouselExample {
    img {
        height: 80%;
        object-fit: cover;
    }

    .carousel-item {
        position: relative;

        img {
            filter: brightness(50%);
        }

        .carousel-description {
            position: absolute;
            z-index: 5;
            bottom: 50%;
            right: 30%;
            color: $white;

            .carousel-paragraph {
                font-weight: bold;
            }

            .carousel-paragraph-02 {
                font-size: 2rem;
                font-weight: bold;
            }

            .carousel-button {
                width: 32dvh;
                height: 6dvh;
                border: none;
                border-radius: 2dvh;
                background-color: $red;
                color: $white;
                transition: color .8s;
                animation: pulse 1s infinite linear;
            }

            .carousel-button:hover {
                background-color: $primaryRed;
            }
        }
    }
}

#about {
    display: flex;
    max-width: 1240px;
    margin: auto;
    padding-top: 5dvh;
    padding-bottom: 5dvh;

    h1 {
        text-align: center;
        margin-bottom: 4dvh;
        color: $text;
        font-size: 3.5rem;
    }

    p {
        text-align: center;
        color: $text;
        line-height: 2rem;
        margin-right: 1dvh;
    }

    img {
        border-radius: 1dvh;
    }

    div {
        flex: 1;
    }
}

.background {
    background-color: $secondaryWhite;

    #accommodations {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        max-width: 1240px;
        margin: auto;
        padding-bottom: 5dvh;

        h1 {
            font-size: 3rem;
        }

        h1,
        p {
            margin-top: 5dvh;
            text-align: center;
            color: $text;
        }

        p {
            line-height: 1.5rem;
        }

        .card-grid {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2dvh;
            margin-top: 3dvh;
            margin-bottom: 8dvh;
            

            .card {
                box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
                border-radius: 2dvh;
                overflow: hidden;

                .card-img {
                    transition: transform .8s;
                }

                .card-img:hover {
                    transform: scale(1.1);
                }

                .card-paragraph {
                    color: $text;
                }

                .card-btn {
                    width: 20dvh;
                    height: 5dvh;
                    margin: 0 auto;
                    border: none;
                    background-color: transparent;
                    border: solid 1px $primaryBlack;
                    text-align: center;
                    color: $text;
                    margin-bottom: 1dvh;
                    transition: border .8s;
                }

                .card-btn:hover {
                    border: solid 1px $red;
                    animation: pulse 1s linear;
                }
            }
            
        }

        .accommodation-btn {
            margin-top: 5dvh;
            margin: 0 auto;
            width: 35dvh;
            height: 6dvh;
            transition: border .8s;
        }

        .accommodation-btn:hover {
            border: solid 1px $red;
            animation: pulse 1s linear;
        }
    }
}

.gastronomy-background {
    background-color: $darkBlue;

    #gastronomy {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        margin: auto;

        h2 {
            font-size: 2.7rem;
            color: $white;
            text-align: center;
            margin-top: 5dvh;
        }

        p {
            color: $white;
            text-align: center;
            margin-top: 5dvh;
            margin-bottom: 3dvh;
            line-height: 1.5rem;
        }

        .food-grid,
        .card-food {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 2dvh;
            position: relative;
            padding-bottom: 5dvh;
            overflow: hidden;

            .food-img {
                width: 50dvh;
                object-fit: cover;
                filter: brightness(30%);
                transition: transform .8s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .food-name {
                position: absolute;
                opacity: 0;
                text-align: center;
                top: 50%;
                left: 60%;
                transform: translate(-50%, -50%);
            }

            &:hover .food-name {
                opacity: 1;
            }
        }
    }
}

.activities-background {
    background-color: $secondaryWhite;

    #activities {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        h2 {
            padding-top: 5dvh;
            padding-bottom: 2dvh;
            font-size: 2.7rem;
            color: $text;
        }

        p {
            padding-bottom: 5dvh;
            color: $text;
            line-height: 1.5rem;
        }
    }
}

#carouselExampleIndicators {
    img {
        height: 80%;
        object-fit: cover;
        filter: brightness(50%);
    }
}

.location-background {
    background-color: $secondaryWhite;

    .location {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        margin: auto;
        text-align: center;
        padding-top: 5dvh;
        padding-bottom: 5dvh;

        h2 {
            font-size: 2.7rem;
            color: $text;
            padding-bottom: 3dvh;
        }
    }
}