@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}
#carouselExample img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
#carouselExample .carousel-item {
  position: relative;
}
#carouselExample .carousel-item img {
  filter: brightness(50%);
}
#carouselExample .carousel-item .carousel-description {
  position: absolute;
  z-index: 5;
  bottom: 50%;
  right: 30%;
  color: #FFF;
}
#carouselExample .carousel-item .carousel-description .carousel-paragraph {
  font-weight: bold;
}
#carouselExample .carousel-item .carousel-description .carousel-paragraph-02 {
  font-size: 2rem;
  font-weight: bold;
}
#carouselExample .carousel-item .carousel-description .carousel-button {
  width: 32dvh;
  height: 6dvh;
  border: none;
  border-radius: 2dvh;
  background-color: #f71735;
  color: #FFF;
  transition: color 0.8s;
  animation: pulse 1s infinite linear;
}
#carouselExample .carousel-item .carousel-description .carousel-button:hover {
  background-color: #a12636;
}

#about {
  display: flex;
  max-width: 1240px;
  margin: auto;
  padding-top: 5dvh;
  padding-bottom: 5dvh;
}
#about h1 {
  text-align: center;
  margin-bottom: 4dvh;
  color: #363636;
  font-size: 3.5rem;
}
#about p {
  text-align: center;
  color: #363636;
  line-height: 2rem;
  margin-right: 1dvh;
}
#about img {
  border-radius: 1dvh;
}
#about div {
  flex: 1;
}

.background {
  background-color: #ECECEC;
}
.background #accommodations {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  max-width: 1240px;
  margin: auto;
  padding-bottom: 5dvh;
}
.background #accommodations h1 {
  font-size: 3rem;
}
.background #accommodations h1,
.background #accommodations p {
  margin-top: 5dvh;
  text-align: center;
  color: #363636;
}
.background #accommodations p {
  line-height: 1.5rem;
}
.background #accommodations .card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2dvh;
  margin-top: 3dvh;
  margin-bottom: 8dvh;
}
.background #accommodations .card-grid .card {
  box-shadow: 0px -1px 17px -4px rgba(0, 0, 0, 0.45);
  border-radius: 2dvh;
  overflow: hidden;
}
.background #accommodations .card-grid .card .card-img {
  transition: transform 0.8s;
}
.background #accommodations .card-grid .card .card-img:hover {
  transform: scale(1.1);
}
.background #accommodations .card-grid .card .card-paragraph {
  color: #363636;
}
.background #accommodations .card-grid .card .card-btn {
  width: 20dvh;
  height: 5dvh;
  margin: 0 auto;
  border: none;
  background-color: transparent;
  border: solid 1px #444444;
  text-align: center;
  color: #363636;
  margin-bottom: 1dvh;
  transition: border 0.8s;
}
.background #accommodations .card-grid .card .card-btn:hover {
  border: solid 1px #f71735;
  animation: pulse 1s linear;
}
.background #accommodations .accommodation-btn {
  margin-top: 5dvh;
  margin: 0 auto;
  width: 35dvh;
  height: 6dvh;
  transition: border 0.8s;
}
.background #accommodations .accommodation-btn:hover {
  border: solid 1px #f71735;
  animation: pulse 1s linear;
}

.gastronomy-background {
  background-color: #011627;
}
.gastronomy-background #gastronomy {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
}
.gastronomy-background #gastronomy h2 {
  font-size: 2.7rem;
  color: #FFF;
  text-align: center;
  margin-top: 5dvh;
}
.gastronomy-background #gastronomy p {
  color: #FFF;
  text-align: center;
  margin-top: 5dvh;
  margin-bottom: 3dvh;
  line-height: 1.5rem;
}
.gastronomy-background #gastronomy .food-grid,
.gastronomy-background #gastronomy .card-food {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2dvh;
  position: relative;
  padding-bottom: 5dvh;
  overflow: hidden;
}
.gastronomy-background #gastronomy .food-grid .food-img,
.gastronomy-background #gastronomy .card-food .food-img {
  width: 50dvh;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(30%);
  transition: transform 0.8s;
}
.gastronomy-background #gastronomy .food-grid .food-img:hover,
.gastronomy-background #gastronomy .card-food .food-img:hover {
  transform: scale(1.1);
}
.gastronomy-background #gastronomy .food-grid .food-name,
.gastronomy-background #gastronomy .card-food .food-name {
  position: absolute;
  opacity: 0;
  text-align: center;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.gastronomy-background #gastronomy .food-grid:hover .food-name,
.gastronomy-background #gastronomy .card-food:hover .food-name {
  opacity: 1;
}

.activities-background {
  background-color: #ECECEC;
}
.activities-background #activities {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.activities-background #activities h2 {
  padding-top: 5dvh;
  padding-bottom: 2dvh;
  font-size: 2.7rem;
  color: #363636;
}
.activities-background #activities p {
  padding-bottom: 5dvh;
  color: #363636;
  line-height: 1.5rem;
}

#carouselExampleIndicators img {
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(50%);
}

.location-background {
  background-color: #ECECEC;
}
.location-background .location {
  display: flex;
  flex-direction: column;
  max-width: 1240px;
  margin: auto;
  text-align: center;
  padding-top: 5dvh;
  padding-bottom: 5dvh;
}
.location-background .location h2 {
  font-size: 2.7rem;
  color: #363636;
  padding-bottom: 3dvh;
}/*# sourceMappingURL=main.css.map */